<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card text-center">
                <div class="card-body">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-primary float-end" routerLink="/crear-producto">NUEVO</button>

                    <table *ngIf="listarProducto.length >= 0" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">{{ producto }}</th>
                                <th scope="col">{{ categoria }}</th>
                                <th scope="col">{{ ubicacion }}</th>
                                <th scope="col">{{ precio }}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of listarProducto">
                                <th scope="row">{{ producto.nombre }}</th>
                                <td>{{producto.categoria}}</td>
                                <td>{{producto.ubicacion}}</td>
                                <td>{{producto.precio | currency: 'USD'}}</td>
                                <td>
                                    <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                                    <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <h5 style="text-align: start;" *ngIf="listarProducto.length === 0">No hay productos para mostrar.</h5>
                </div>
            </div>
        </div>
    </div>
</div>